
@{
    ViewBag.Title = "ResidentDirectory";
}

<head>
    <link rel="stylesheet" href="~/Assets/Login.css">
</head>
<br />
<br />
<br />
<h2 style="color:beige">ResidentDirectory</h2>

<p style="color:beige">Edit your community profile <button style="color: black; background-color: #f44336; font-weight:bold">Edit Profile</button></p>
<br />
<a href="#" class="next" style="color:beige">Management Commitee &raquo;</a>
<br />
<br />

<p style="color:beige">BUILDINGS</p>
<br />

<a href="#" class="next" style="color:beige">N1 &raquo;</a><br /><br />

<a href="#" class="next" style="color:beige">N2 &raquo;</a><br /><br />

<a href="#" class="next" style="color:beige">N3 &raquo;</a><br /><br />

<a href="#" class="next" style="color:beige">N4 &raquo;</a><br /><br />

<a href="#" class="next" style="color:beige">N5 &raquo;</a><br /><br />

<a href="#" class="next" style="color:beige">N6 &raquo;</a><br /><br />
<a href="#" class="next" style="color:beige">N7 &raquo;</a><br /><br />
<a href="#" class="next" style="color:beige">N8 &raquo;</a><br /><br />





