
@{
    ViewBag.Title = "TicketSuccess";
}

<head>
    <link rel="stylesheet" href="~/Assets/Login.css">
</head>

<div style="color:beige" class="form-horizontal">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h3>Hey! Your Complaint with Urest Facility Management has been logged in...</h3>
</div><br />

